@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

::-webkit-scrollbar {
    width: 0px;
}

:root{
    
    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body{

    --color1: #000F08;
    --color2: #136F63;
    --color3: #E0CA3C;
    --color4: #F34213;
    --color5: #3E2F5B;

    // cursor:url("pointer.png"),default;
    // background-color: var(--color1);
    width: 100vw;
    height: 1000vh;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    font-family: 'Silkscreen';
    scroll-behavior: smooth;


    .scrollIndicator{
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 0.2vh;
        background-color: var(--color3);
    }

    #pointer{
        position: absolute;
        z-index: 4;
        width: 1vw;
        display: none;
    }

    p{
        margin: 0;
        padding: 0;
    }

    .loading{
        position: fixed;
        z-index: 3;
        background-color: black;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            margin: 0;
            padding: 0;
            color: white;
            font-size: xx-large;
        }
        .progressContainer{
            margin-top: 3vh;
            width: 20vw;
            min-width: 192px;
            height: 3vh;
            border: 1px white solid;
            .progressBar{
                height: 100%;
                width: 0%;
                background-color: white;
            }
        }
    }


    .scrollDown{
        z-index: 1;
        position: relative;
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .content{
            margin-right: 5vw;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
            p{
                color: var(--color3);
                font-size: 4vw;
                text-align: center;
                width: 100%;
            }
            .downArrow{
                height: 20%;
                svg{
                    width: 100%;
                    height: 100%;
                    path{
                        fill: var(--color3);
                    }
                }
            }
        }
    }

    .container{
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        #playbackImg{
            z-index: -1;
            position: fixed;
            display: flex;
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin: 0;
            padding: 0;
        }

        .bg{
            width: 100vw;
            height: 100vh;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;

            .terminal{
                width: 80vw;
                height: 80vh;
                // background-color: var(--color2);
                border-radius: 1vw;
                overflow: auto;
                #template{
                    display: none;
                }
    
                .content{
                    margin-left: 2%;
                    margin-top: 1%;
                    color: var(--color2);
                    white-space: pre-line;
                    width: 100%;
                    font-size: x-large;

                    
                    a:hover{
                        cursor: pointer;
                    }
                }
    
                .terminalLine{
                    margin-left: 2%;
                    margin-top: 2%;
                    color: var(--color3);
                    display: flex;
                    height: fit-content;
                    p{
                        pointer-events: none;
                        -webkit-user-select: none; /* Safari */
                        -ms-user-select: none; /* IE 10 and IE 11 */
                        user-select: none; /* Standard syntax */
                        font-size: x-large;
                    }
                    .inputValue{
                        margin-left: 1%;
                        color: var(--color4);
                        white-space: pre;
                    }
                    .cursor{
                        // border: red 2px solid;
                        width: 0.75%;
                        background-color: white;
                        animation: cursor 0.7s ease-in-out infinite alternate;
                    }
    
    
                    @keyframes cursor {
                        from{
                            opacity: 0;
                        }
                        to{
                            opacity: 0.75;
                        }
                    }
                }
            }
        }
    }
}